<h1>Hi <%= @care_giver.name %>, add a child under your care.</h1>
<p>Enter the information below:</p>
<form class="new" action="/children/new" method="post">
  <p><label for="name">Name: </label><input type="text" name="name" value="" required /></p>
  <p><label for="birthdate">Birthdate: </label><input type="text" name="birthdate" value="" required /></p>
  <p><label for="gender">Gender: </label><input type="radio" name="gender" value="M" required> Boy</input> <input type="radio" name="gender" value="F"> Girl</input></p>
  <p><input type="submit" name="submit" value="Add Child"></p>
</form>
