<h1>Create Your Credentials below:</h1>

<form class="create_account" action="/registration" method="post">
  <p><label for="name">Name: </label><input type="text" name="name" value="" required/></p>
  <p><label for="email">Email: </label><input type="text" name="email" value="" required/></p>
  <p><label for="Password">Password: </label><input type="password" name="password" value="" required/></p>
  <p><input type="submit" name="submit" value=" Create Your Account "></p>
</form>
