<h1>Welcome to BabySteps</h1>

<p>please Login below or <a href="/new-account">Create a new account</a></p>

<form class="Login" action="/children" method="post">
  <p><label for="user_name">User Name: </label><input type="text" name="user_name" value="" /></p>
  <p><label for="password">Password: </label><input type="text" name="password" value="" /></p>
  <input type="submit" name="submit" value="Login" />
</form>
